<a href="https://colab.research.google.com/github/TanakaSeiju/EU_M_Math-Repository/blob/main/Chap02_Ex_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
from pandas.io.pytables import AttributeConflictWarning
from pandas import Series, DataFrame
import pandas as pd

attri_data1 = {"ID" : ["1", "2", "3", "4", "5"],
               "Sex" : ["F", "F", "M", "M", "F",],
               "Money" : [1000, 2000, 500, 300, 700],
               "Name" : ["Saito", "Horie", "Kondo", "Kawada", "Matsubara"]}
attri_data_frame1 = DataFrame(attri_data1)

attri_data_2 = {"ID": ["3", "4", "7"],
              "Math":[60, 30, 40],
              "English":[80, 20, 30]}

attri_data_frame2 = DataFrame(attri_data_2)

attri_data_merge = pd.merge(attri_data_frame1, attri_data_frame2)
print(attri_data_merge.mean())

ID          17.0
Money      400.0
Math        45.0
English     50.0
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.